{% load static from staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% static 'css/bootstrap.min.css' as bootstrap_yeti_theme %}
{% static 'css/style.less' as styles_less %}
{% static 'js/less.js' as less %}
{% static 'js/google-analytics.js' as googleanalytics %}

<!DOCTYPE html>
<html>
<head>
    <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heisig Explorer &mdash; {% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link href='{{ bootstrap_yeti_theme }}' type='text/css' rel='stylesheet'>
    {# custom none bootstrap styles #}
    <link href='{{ styles_less }}' type="text/css" rel="stylesheet/less" />
	{# google font #}
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>

    {% block head %}
    {% endblock head %}
</head>

<body>

<div class='container'>
	{% block subheading %}
        <div id='subheading' class='row'>
        	<div class='col-xs-7' style='margin-top:15px'>
	        	<a href="{% url 'home' %}">海西希探险者</a> &mdash;
	            <a href="{% url 'hanzi_list' %}">show all</a> &mdash;
                <a href="{% url 'guestbook' %}" title="Leave a comment!">guestbook</a>
                <!--
                {% if user.is_authenticated %}
	            	Logged in as <strong>{{ user.username }}</strong>
		            (<a href="{% url 'logout' %}">log out</a>)
	            {% else %}
		            <a href="{% url 'login' %}">log in</a>
		        {% endif %}
                -->
            </div>
	        <div class='col-xs-5'>
		        {% crispy search_form %}
	        </div>
        </div>
	{% endblock subheading %}
</div>

<div class='container'>
{% bootstrap_messages %}
</div>

<div class='container'>
<div class='box'>
{% block content %}{% endblock %}
</div>
</div>

<footer>
{% block footer %}
<div class='container'>
	<div class='box'>
		<center>
			Download KaiTi font (<a href="{% static 'files/kaiti.zip' %}" title='Download pretty font for Chinese characters'>zip file</a>)
			&mdash;
			Heisig Explorer, owing to <em>James W. Heisig</em> and <a href='http://cc-cedict.org/wiki/' title='CEDICT'>CC-CEDICT</a>
		</center>
	</div>
</div>
{% endblock footer %}
</footer>

{# scripts #}

{# required for bootstrap #}
{% bootstrap_javascript jquery=1 %}

{# less csss #}
<script src='{{ less }}' type="text/javascript"></script>
<script src="{{ googleanalytics }}" type="text/javascript"></script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>